{% extends "core/base_main.html" %}

{% block content %}

    <h1 class="text-center">Missions</h1>

    {% comment %} {% load crispy_forms_tags %}
    {% crispy form %} {% endcomment %}

    {% comment %} 
        date_created = models.DateTimeField(auto_now_add=True)
    date_updated = models.DateTimeField(auto_now=True)

    priority = models.IntegerField(blank=False, default=0)
    description = models.TextField()
    status = models.CharField(max_length=2, choices=STATUS_TYPES)
    related_tickets = models.ManyToManyField(Ticket)
     {% endcomment %}
    <a class="btn btn-primary float-right" href="/mission">Start New Mission</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Priority</th>
                <th scope="col">Status</th>
                <th scope="col">Description</th>
                <th scope="col">Last Updated</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in object_list %}
            <tr>
                {% comment %} <th scope="row">1</th> {% endcomment %}
                <td>{{ mission.priority }}</td>
                {% with badge_type=mission.get_bootstrap_badge_type %}
                <td><span class="badge badge-{{badge_type}}">{{ mission.get_status_display }}</span></td>
                {% endwith %}
                <td>{{ mission.description }}</td>
                <td>{{ mission.date_created|date }}</td>
                <td><a href="/mission/{{mission.id}}">Edit</a></td>
            </tr>
        {% empty %}
        <tr>
        <td>
        No missions to display.
        </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1 class="text-center">Tickets</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Location</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                {% comment %} <th scope="row">1</th> {% endcomment %}
                <td>{{ ticket.subject }}</td>
                <td>{{ ticket.location.y }}, {{ ticket.location.x }}</td>
                <td><a href="/ticket/{{ticket.id}}">View</a></td>
            </tr>
        {% empty %}
        <tr>
        <td>
        No missions to display.
        </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
